{% extends 'base.html' %}
{% block content %}
{% load cart %}

<h1 class="mx-2">Care Necessities</h1>

{% for fertilizer in fertilizers %}
<div class="card mb-3 mx-2 {% cycle 'bg-warning mx-3' 'bg-info mx-3' 'bg-danger mx-3' %}" style="width: 20rem;">
    <p class="card-title text-center font-weight-bold">{{ fertilizer.name }}</p>
    <p class="card-text">Price: ${{ fertilizer.price }}</p>
    <p class="benefits">{{ fertilizer.benefits }}</p>
</div>
{% endfor %}

<div id="movingTitle" class="text-center font-weight-bold text-danger mt-3">
    This service is not available now. Check back later.
</div>

<script>
    let movingTitle = document.getElementById('movingTitle');
    let message = 'This service is not available now. Check back later.';

    function movingNotif() {
        message = message.substring(1) + message[0];
        movingTitle.innerText = message;
    }

    setInterval(movingNotif, 250); 
</script>


{% endblock %}